<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
<link rel="dns-prefetch" href="//yun.tuia.cn">
<link rel="dns-prefetch" href="//yun.tuisnake.com">
<link rel="dns-prefetch" href="//yun.pansyta.com">
<link rel="dns-prefetch" href="//yun.dahliata.com">
<link rel="dns-prefetch" href="//yun.iristta.com">
<link rel="dns-prefetch" href="//yun.freesiata.com">
<link rel="dns-prefetch" href="//yun.shisrd.com">
<link rel="dns-prefetch" href="//yun.heisldg.com">
<script>!function (e, i) { var t = e.documentElement, n = navigator.userAgent.match(/iphone|ipod|ipad/gi), a = n ? Math.min(i.devicePixelRatio, 3) : 1, m = "orientationchange" in window ? "orientationchange" : "resize"; t.dataset.dpr = a; for (var d, l, c = !1, o = e.getElementsByTagName("meta"), r = 0; r < o.length; r++)l = o[r], "viewport" == l.name && (c = !0, d = l); if (c) d.content = "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no,viewport-fit=cover"; else { var o = e.createElement("meta"); o.name = "viewport", o.content = "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no,viewport-fit=cover", t.firstElementChild.appendChild(o) } var s = function () { var e = t.clientWidth; e / a > 750 && (e = 750 * a), window.remScale = e / 750, t.style.fontSize = 200 * (e / 750) + "px" }; s(), e.addEventListener && i.addEventListener(m, s, !1) }(document, window);</script>
<script type="text/javascript">
  ; (function () {
    if (!/debug=true/.test(window.location.href)) return;
    var oHead = document.head;
    var oScript = document.createElement('script');
    oScript.type = "text/javascript";
    oScript.src = "//yun.tuia.cn/h5-mami/optimize/eruda.min.js";
    oHead.appendChild(oScript);
    oScript.onload = function () { eruda.init() }
  })();
</script>
<script type="text/javascript" src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>